.animalDetailsPage {
  display: flex;
  justify-content: center;
}
.outerWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 500px;
  /* height: 500px; */
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  background: rgb(40, 161, 40);
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}
.header > h1 {
  font-size: 2rem;
  font-weight: 600;
  color: white;
  transform: translateY(-35%);
}

.animalDetailsWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content;
  gap: 1.5rem;
  border-radius: 2rem;
}
.animalDetailsInner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  border: solid 1px rgb(221, 221, 221);
}

.animalDetailsOverlay {
  position: absolute;
  left: 50%;
  top: 3.8rem;
  transform: translateX(-50%);
  width: 75px;
  height: 75px;
  background-color: white;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
  border: solid 5px black;
  border-radius: 50%;
}

.animalDetailsLocations {
  grid-column: 1 -1;
}
.animalDetailsParagraph {
  font-size: 1.2rem;
}
.animalDetailsInner .title {
  font-weight: 600;
}
