.animalsListLayout {
  grid-column: 1;
}
.heading {
  font-weight: 600;
  color: rgb(0, 81, 255);
}
.heading:first-child {
  background: rgb(243, 253, 149);
  border-radius: 2px;
  padding: 0 0.2rem;
}

.list {
  list-style-type: none;
  max-width: fit-content;
  max-height: 60vh;
  overflow-y: scroll;
}
.listItem {
  margin-bottom: 0.5rem;
  text-decoration: none;
  background: rgb(226, 226, 226);
  padding: 0.3rem;
  border-radius: 0.4rem;
}

.link {
  text-decoration: none;
}
